version: 2.1
jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "10.2.1"

    steps:
      - run:
          name: update-brew
          command: 'brew update'
      - run:
          name: upgrade-node
          command: 'brew upgrade node'
      - run:
          name: install-cask
          command: 'brew tap caskroom/cask'
      - run:
          name: install-android-sdk
          command: 'brew cask install android-sdk'
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: node-version
          command: 'node --version'
      - run:
          name: npm-version
          command: 'npm --version'
      - checkout

      - run:
          name: list directory
          command: 'ls'
      - run:
          name: npm-i
          command: 'sudo npm i --unsafe-perm'
      - run:
          name: npm-lint
          command: 'sudo npm run lint'
      - run:
          name: npm install ionic
          command: 'sudo npm i -g ionic'
      - run:
          name: ionic build
          command: 'ionic build'
      - run:
          name: Add android
          command: 'sudo npx cap add android'
      - run:
          name: Add ios
          command: 'npx cap add ios'
      - run:
          name: chown working directory
          command: 'sudo chown -R distiller ./'
      - run:
          name: list directory
          command: 'ls ios'
      #- run:
      #    name: Add electron
      #    command: 'sudo npx cap add electron'
      - run:
          name: Copy
          command: 'sudo npx cap copy'

      # Install CocoaPods
      - run:
          name: Install CocoaPods
          command: sudo gem install cocoapods
      - run:
          name: Update cocoapods repositories
          command: pod repo update

      # Build the app and run tests
      - run:
          name: Build and run tests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 6
            SCAN_SCHEME: WebTests

      # Collect XML test results data to show in the UI,
      # and save the same XML files under test-results folder
      # in the Artifacts tab
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: /tmp/test-results
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs